services:
  - type: web
    name: swp391-frontend
    runtime: static
    buildCommand: cd FE/SWP391_FE && npm install && npm run build
    staticPublishPath: FE/SWP391_FE/dist
    headers:
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

