.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(0, 21, 41, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
